<div class="text-center">
  <div class="app">
    <h1>About Happy Carpool</h1>
    <hr>
    <h4 class="app-info">Happy Carpool is an app that helps users create and join carpools.</h4>
  </div>
  <div class="developer">
    <h1 class="developer-text">About Developer</h1>
    <hr>
    <div class="image">
      <img class="about" src="images/Alyssa_Websize.jpg">
    </div>
    <p class="developer-info">This app was created by Alyssa Williams, a full-stack web developer. This app was created using MongoDB, AngularJS, and Sails.js. If you have any questions or suggestions please <a ng-href="mailto:alyssaw90@gmail.com">click here.</a></p>
  </div>
</div>
