<h1><b>Ride Name: </b>{{ride.rideName}}</h1>
  <button class="btn" ng-click="joinButton()" ng-disabled="ride.currentRiders >= ride.maxRiders">Join Carpool</button>
<div class="row">
  <div class="col-sm-4">
      <ul class="carpool-info">
        <li><b>Start location:</b> {{ride.start}}</li>
        <li><b>End location:</b> {{ride.stop}}</li>
        <li><b>Car Make:</b> {{ride.carMake}}</li>
        <li><b>Car Model:</b> {{ride.carModel}}</li>
        <li><b>Car Color:</b> {{ride.carColor}}</li>
        <li><b>Number of riders in carpool:</b> {{ride.currentRiders}}</li>
        <li><b>Max Riders:</b> {{ride.maxRiders}}</li>
        <li><b>Driver:</b> {{ride.owner.firstName}} {{ride.owner.lastName}}</li>
      </ul>
  </div>
  <div class="col-sm-8">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-marker ng-repeat="startMarker in map.markers" coords="startMarker.coords" idkey="startMarker.id"></ui-gmap-marker>
    <ui-gmap-marker ng-repeat="stopMarker in map.markers" coords="stopMarker.coords" idkey="stopMarker.id"></ui-gmap-marker>
  </ui-gmap-google-map>
</div>
</div>



