<h1>Create a new ride</h1>
<form>
  <div class="form-group">
    <label>Name your ride</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Starting point</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>End point</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Car Make</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Car Model</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Car Color</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Max number of riders</label>
    <input type="number" class="form-control" required>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>


<!-- GOOGLE MAP STUFF -->


