<h1>Create a new ride</h1>
<form>
  <div class="form-group">
    <label>Name your ride</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Starting point</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>End point</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Car Make</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Car Model</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Car Color</label>
    <input type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Max number of riders</label>
    <input type="number" class="form-control" required>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>


<!-- GOOGLE MAP STUFF -->
<!-- <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_MAPS">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
 -->
