/*Global styles*/
h1 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}
label {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}
.btn {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  background-color: #E58841;
  border-color: #E58841;
  color: white;
}
.btn:hover {
  background-color: #E58841;
  border-color: #E58841;
  opacity: 0.9;
  color: white;
}
body {
  background-color: #B0F3FF;
}

/*Nav Bar*/
.navbar {
  background-color: #2499BA;
  color: white;
}
.nav-header {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.nav-links {
 font-family: 'Cantarell', sans-serif;
 font-weight: 700;
}
.navbar-default
.navbar-brand {
  color: white;
}
.navbar-default
.navbar-nav>li>a {
  color: white;
}
.dropdown-menu {
  background-color: #2499BA;
}
.dropdown-menu>li>a {
  color: white;
}

/*Home Page Styles*/
/*Home page title*/
.home-title {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 46px;
  font-size: 50px;
  margin: 0 0 23px 0;
}
/*Carousel images*/
img {
  margin: auto;
  width: 800px;
}
/*Carousel text*/
.carousel-text {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 0 23px 0;
}

/*Modal styling*/
.modal-title {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  font-size: 30px;
}
.modal-button {
  background-color: #15797F;
  border-color: #15797F;
}
.modal-button:hover {
  background-color: #15797F;
  border-color: #15797F;
  opacity: 0.9;
}

/*All carpool page*/
.carpool-add {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  background-color: #E58841;
  border-color: #E58841;
}
.carpool-add:hover {
  background-color: #E58841;
  border-color: #E58841;
  opacity: 0.9;
}
.carpool-about {
  font-family: 'Cantarell', sans-serif;
}
table {
  font-family: 'Cantarell', sans-serif;
}
.table-head {
  font-family: 'Cantarell', sans-serif;
  font-size: 20px;
}

/*Ride show page*/
.carpool-info {
  font-family: 'Cantarell', sans-serif;
}

/*Profile page*/
.profile-link {
  font-family: 'Cantarell', sans-serif;
}
.deleteButton {
  background-color: #BF0700;
  border-color: #BF0700;
}
.deleteButton:hover {
  background-color: #BF0700;
  border-color: #BF0700;
  opacity: 0.8;
}

/*Map*/
.angular-google-map-container{
  height:400px;
}

/*About page*/
img {
  height: 250px;
  width: 250px;
  margin-bottom: 30px;
  border-radius: 150px;
}
.app-info {
  font-family: 'Cantarell', sans-serif;
}
.developer{
  padding-top: 50px;
}
.developer-info {
  font-family: 'Cantarell', sans-serif;
  font-size: 15px;
}

