/*Nav Bar*/
.nav-header {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.nav-links {
 font-family: 'Cantarell', sans-serif;
 font-weight: 700;
}

/*Home Page Styles*/
/*Home page title*/
.home-title {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 46px;
  font-size: 50px;
  margin: 0 0 23px 0;
}
/*Carousel images*/
img {
  margin: auto;
  width: 800px;
}
/*Carousel text*/
.carousel-text {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 0 23px 0;
}

/*Modal styling*/
.modal-title {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  font-size: 30px;
}
.modal-labels {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}
.modal-button {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}

/*All carpool page*/
.carpool-title {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}
.carpool-add {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}
.carpool-about {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}
table {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}
.table-head {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

/*Map*/
.angular-google-map-container{
  height:400px;
}

