<alerts></alerts>

<!-- Only showing when user is not logged in. -->
<div ng-hide="currentUser">
  <h1 class="text-center home-title">Happy Carpooling!</h1>
  <div ng-controller="CarouselCtrl" >
    <div style="height: 305px">
      <carousel interval="myInterval" disable-animation="true">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h1 class="carousel-text">{{slide.text}}</h1>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>

<!-- Showing after a user logs in -->
<div ng-show="currentUser">
  <div class="row">
    <h1>All Carpools
      <a href="/ride/new" class="btn btn-success pull-right carpool-add">Add a carpool</a>
    </h1>
    <h4 class="carpool-about">Click on a ride to find out more information or join it.</h4>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>Ride Name</th>
          <th>Starting point</th>
          <th>Ending point</th>
        </tr>
      </thead>
      <tbody ng-repeat="ride in rides">
        <tr>
          <td><a href="/ride/{{ride.id}}">{{ride.rideName}}</a></td>
          <td>{{ride.start}}</td>
          <td>{{ride.stop}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
