<alerts></alerts>

<!-- Only showing when user is not logged in. -->
<div ng-hide="currentUser">
  <h1 class="text-center">Happy Carpooling!</h1>
  <div ng-controller="CarouselCtrl" >
    <div style="height: 305px">
      <carousel interval="myInterval" disable-animation="true">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>

<!-- Showing after a user logs in -->
<div ng-show="currentUser">
  <div class="row">
    <h1>All Carpools<a href="/ride/new" class="btn btn-success pull-right">Add a carpool</a> </h1>
    <h4>Click on a ride to find out more information or join it.</h4>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Ride Name</th>
          <th>Starting point</th>
          <th>Ending point</th>
          <!-- <th>Driver</th> -->
          <!-- <th>Number of Riders</th> -->
          <!-- <th>Max number of Riders</th> -->
          <!-- <th>Join Ride</th> -->
        </tr>
      </thead>
      <tbody ng-repeat="ride in rides">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td><button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
